# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "04a971312ee76e996c99e57183d60c90"
name = "ingram-micro-integration"
application_url = "https://ingram-mirco-zeta.vercel.app"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_metaobjects,read_metaobjects,write_metaobject_definitions,read_metaobject_definitions,write_order_edits,read_order_edits,write_orders,read_orders,write_product_feeds,read_product_feeds,write_product_listings,read_product_listings,write_products,read_products,write_shipping,read_shipping,write_third_party_fulfillment_orders,read_third_party_fulfillment_orders,read_all_cart_transforms,write_cart_transforms,read_cart_transforms,write_delivery_customizations,read_delivery_customizations,write_inventory_shipments,read_inventory_shipments,write_fulfillment_constraint_rules,read_fulfillment_constraint_rules"

[auth]
redirect_urls = [ "https://ingram-mirco-zeta.vercel.app/auth/callback" ]
